[submodule "LabEngSoft2-PersonalTrainer"]
	path = LabEngSoft2-PersonalTrainer
	url = https://github.com/lucas-pvg/LabEngSoft2-PersonalTrainer
[submodule "LabEngSoft2-Nutritionist"]
	path = LabEngSoft2-Nutritionist
	url = https://github.com/asakuraLie/LabEngSoft2-Nutritionist.git
[submodule "LabEngSoft2-Psychologist"]
	path = LabEngSoft2-Psychologist
	url = https://github.com/IsaacYusuke/LabEngSoft2-Psychologist
[submodule "LabEngSoft2-Patient"]
	path = LabEngSoft2-Patient
	url = https://github.com/pedrohrodrig/LabEngSoft2-Patient.git
[submodule "LabEngSoft2-Doctor"]
	path = LabEngSoft2-Doctor
	url = https://github.com/pedrohrodrig/LabEngSoft2-Doctor.git
