[submodule "LabEngSoft2-Soph"]
	path = LabEngSoft2-Soph
	url = https://github.com/asakuraLie/LabEngSoft2-Soph.git
[submodule "LabEngSoft2-PersonalTrainer"]
	path = LabEngSoft2-PersonalTrainer
	url = https://github.com/lucas-pvg/LabEngSoft2-PersonalTrainer
