[submodule "LabEngSoft2-PersonalTrainer"]
	path = LabEngSoft2-PersonalTrainer
	url = https://github.com/lucas-pvg/LabEngSoft2-PersonalTrainer
[submodule "LabEngSoft2-Nutritionist"]
	path = LabEngSoft2-Nutritionist
	url = https://github.com/asakuraLie/LabEngSoft2-Nutritionist.git
[submodule "LabEngSoft2-Psychologist"]
	path = LabEngSoft2-Psychologist
	url = https://github.com/IsaacYusuke/LabEngSoft2-Psychologist
